：root {
  --bg-color: (207, 160, 60, 0.45);
}

audio {
  display: block;
  margin-bottom: 20px;
}
button {
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 12px;
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  scale: 0.9;
}
