section {
  text-align: center;
  border: 1px solid red;
}

h3 {
  color: lime;
}

.blue-color {
  color: blue;
}

body {
  background-color: beige;
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1 {
  color: lime;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  color: red;
}
/* {
  color: hotpink;
}

h1 {
  color: lime;
}

h3 {
}

/*

h1 {
  color: red;
}

h2 {
  color: green;
}

p {
  color: blue;
  font-weight: bold;
}

li {
  color: brown;
}

h3 {
  color: pink;
}
*/
