h1,
h3 {
  color: lime;
}

.blue-color {
  color: blue;
}

body {
  background-color: beige;
}

/* {
  color: hotpink;
}

h1 {
  color: lime;
}

h3 {
}

/*

h1 {
  color: red;
}

h2 {
  color: green;
}

p {
  color: blue;
  font-weight: bold;
}

li {
  color: brown;
}

h3 {
  color: pink;
}
*/
