body {
  background: #c62828;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header-grid {
  display: flexbox;
  grid-template-columns: 1fr 1fr;
  background: white;
  color: black;
  max-width: 125px;
  margin: 10px auto;
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: auto;
}

section {
  background: white;
  color: black;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

h1 {
  color: white;
}

h2 {
  margin-top: 0;
}

ul {
  padding-left: 20px;
}

.image1 {
  display: flexbox;
  width: 600px;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
}

.image2 {
  display: flexbox;
  margin-left: 100px;
  margin: auto;

  width: 600px;
  align-content: center;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
}

.image3 {
  width: 600px;
  margin-left: 10px;
  margin: auto;
  align-content: center;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.image4 {
  width: 600px;
  height: auto;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
